.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.event-row {
    padding-bottom: 32px;
    overflow-x: auto;
}

.event-list {
	position: relative;
}

.event-list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.event-list-buttons {
	display: flex;
	gap: 1rem;
	align-items: center;
}

/* Search bar and filter */
.search-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.search-wrapper.expanded {
	border-radius: 50px;
	width: 250px;
	background-color: var(--gray-100);

	.search-input {
		width: 180px;
		opacity: 1;
		padding: 0.5rem 0.75rem;
	}

	.icon-wrapper {
		border-radius: 50px;
	}
}

.search-input {
	border: none;
	outline: none;
	background: transparent;
	width: 0;
	opacity: 0;
	transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.icon-wrapper {
	position: relative;
	background: none;
	color: var(--black);
	line-height: 0.6;
	padding: 0.5rem;
}

.icon-wrapper:hover {
	background: var(--gray-100);
}

/* Horizontal scrolling row for event cards */
.event-card-row {
	display: flex;
	gap: 2rem;
	padding-bottom: 1rem;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #d1d5db #f3f4f6;
	position: relative;
}

/* .event-card-row::after {
	content: '';
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(to right, transparent, #f3f4f6);
	z-index: 1;
} */

.event-card-row.reverse {
	flex-direction: row-reverse;
}

.event-card-row::-webkit-scrollbar {
  	display: none;
}

/* Card styles */
.card {
	flex-shrink: 0;
	width: 300px;
	border-radius: 12px;
	background-color: var(--gray-100);
	font-size: 0.875rem;
	color: var(--gray-700);
	box-shadow: var(--shadow-300);
	display: flex;
	flex-direction: column;
	position: relative; 
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-content {
	padding: 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-title {
	font-size: 1rem;
	font-weight: 600;
}

.card-subtitle {
	margin-bottom: 1rem;
}

.card-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.card-row {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.card-button {
	margin-left: auto;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
}

.dialog-content {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
}

.dialog-close {
	background: none;
	padding: 0;
	color: var(--blue-400);
	height: fit-content;
	width: fit-content;
	display: contents;

	&:hover {
		color: var(--blue-500);
		background: none;
	}
}

.dialog-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem 1rem 0 0;
}

.dialog-body {
	padding: 1rem;
}

.dialog-body-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.dialog-org {
	color: var(--gray-400);
}

.dialog-body-content {
	display: flex;
	justify-content: stretch;
	gap: 1rem;
}

.dialog-details {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}
.dialog-details:first-child {
	border-right: 2px solid var(--gray-200);
}

.dialog-details p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.dialog-content {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
}

.dialog-close {
	background: none;
	padding: 0;
	color: var(--blue-400);
	height: fit-content;
	width: fit-content;
	display: contents;

	&:hover {
		color: var(--blue-500);
		background: none;
	}
}

.dialog-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem 1rem 0 0;
}

.dialog-body {
	padding: 1rem;
}

.dialog-body-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.dialog-org {
	color: var(--gray-400);
}

.dialog-body-content {
	display: flex;
	justify-content: stretch;
	gap: 1rem;
}

.dialog-details {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}
.dialog-details:first-child {
	border-right: 2px solid var(--gray-200);
}

.dialog-details p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* Add Event Card */
.add-event-card {
	flex-shrink: 0;
	width: 300px;
	border-radius: 12px;
	box-shadow: var(--shadow-300);
	background-color: var(--gray-100);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
  
  .add-event-card:hover {
	/* background-color: var(--blue-300); */
	backdrop-filter: blur(10px);
  }
  
  /* Box inside the card */
  .add-event-box {
	width: 30%;
	aspect-ratio: 1;
	background-color: var(--gray-200);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
  }
  
  .add-event-card:hover .add-event-box {
	background-color: var(--blue-400);
  }
  
  /* Plus Icon */
  .plus-icon {
	color: var(--gray-700);
  }
  