.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Styling for the event rows */
.event-row {
    padding-bottom: 32px;
    overflow-x: auto;
}

/* Header styles */
.event-row-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.event-list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.event-row-title {
	font-size: 1.25rem;
	font-weight: bold;
}

/* Search bar and filter */
.search-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: #f3f4f6; */
	border-radius: 9999px;
	padding: 4px 8px;
	transition: all 0.3s ease-in-out;
	/* width: 40px; */
	overflow: hidden;
}

.search-filter-container {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.event-list {
  	position: relative;
}

.search-wrapper.expanded {
	width: 250px;
	background-color: #e5e7eb;
}

.search-input {
	border: none;
	outline: none;
	background: transparent;
	width: 0;
	opacity: 0;
	padding: 0;
	transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.search-wrapper.expanded .search-input {
	width: 180px;
	opacity: 1;
	padding: 4px;
}

.icon-wrapper {
	position: relative;
	background: none;
	color: var(--black);
	padding: 0.5rem;
}

.icon-wrapper:hover {
	background: none;
}

.icon-wrapper svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-icon {
	cursor: pointer;
	margin-right: 8px;
	padding: 0.5rem;
	background: none;
	color: var(--black);
}

.close-icon:focus {
	outline: none;
}

.close-icon:hover {
	background: none;
	border-radius: 8px;
}

.filter-icon {
	cursor: pointer;
	padding: 0.5rem;
	background: none;
	color: var(--black);
}

.filter-icon:focus {
	outline: none;
}

.filter-icon:hover {
	background: none;
	border-radius: 8px;
}

/* Horizontal scrolling row for event cards */
.event-card-row {
	display: flex;
	gap: 2rem;
	padding-bottom: 1rem;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #d1d5db #f3f4f6;
	position: relative;
}

/* .event-card-row::after {
	content: '';
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(to right, transparent, #f3f4f6);
	z-index: 1;
} */

.event-card-row.reverse {
	flex-direction: row-reverse;
}

.event-card-row::-webkit-scrollbar {
  	display: none;
}

/* Card styles */
.card {
	flex-shrink: 0;
	width: 300px;
	border-radius: 12px;
	background-color: var(--gray-100);
	font-size: 0.875rem;
	color: var(--gray-700);
	box-shadow: var(--shadow-300);
	display: flex;
	flex-direction: column;
	position: relative; 
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-content {
	padding: 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-title {
	font-size: 1rem;
	font-weight: 600;
}

.card-subtitle {
	margin-bottom: 1rem;
}

.card-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.card-row {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.card-button {
	margin-left: auto;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
}
