.nav-container {
    background-color: var(--blue-500);
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s;
}

.nav-container.collapsed {
    width: 90px;

    .nav-header {
        gap: 0.5rem;
    }

    .nav-header-right .nav-header-icon:first-child {
        display: none;
    }

    .nav-body .nav-link span {
        display: none;
    }

    .nav-link {
        padding: 0.5rem 0;
    }

    .nav-link::before {
        width: calc(100% + 16px);
    }

    .nav-link:hover:not(.active)::before {
        width: calc(100% + 8px);
        height: calc(100% - 8px);
    }

    .logout span {
        display: none;
    }

    .logout::before {
        width: calc(100% + 16px);
    }
}

.nav-header {
    width: 100%;
    color: var(--blue-300);
}

.nav-header,
.nav-header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.nav-header-icon {
    position: relative;
    width: 28px;
    height: 28px;
}

.nav-header-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 1.15rem;
    border-radius: 4px;
    transition: all 0.3s;
}

.nav-header-icon:hover {
    cursor: pointer;

    &::before {
        background-color: var(--blue-600);
    }
}

.nav-header-icon.active::before {
    background-color: var(--blue-600);
    border-radius: 4px 4px 0 0;
}

.nav-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    color: var(--blue-300);
}

.nav-link {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
}

.nav-link:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: var(--blue-400);
}

.nav-link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 32px);
    height: 100%;
    border-radius: 8px;
    transition: all 0.3s;
}

.nav-link.active::before {
    background-color: var(--blue-600);
    /* box-shadow: inset 0 0 8px 0 var(--blue-700); */
}

.nav-link:hover {
    cursor: pointer;

    &:not(.active)::before {
        background-color: rgba(51, 92, 150, 0.3); /* var(--blue-600); but 30% opacity */
        height: calc(100% - 16px);
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav-link.active::after,
.nav-link:has(+ .nav-link.active)::after,
.nav-link:hover::after,
.nav-link:has(+ .nav-link:hover)::after {
    display: none;
}

.nav-footer {
    width: 100%;
}

.logout {
    color: var(--blue-300);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    position: relative;
}

.logout span {
    font-weight: 500;
    font-size: 1.25rem;
}

.logout::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 32px);
    height: 100%;
    border-radius: 8px;
    transition: all 0.3s;
}

.logout:hover {
    cursor: pointer;

    &::before {
        background-color: var(--blue-600)
    }
}

.popup {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: -0.25rem;
    padding: 0.5rem;
    width: 200px;
    background: var(--white);
    border: 1px solid var(--blue-600);
    border-radius: 0 0.5rem 0.5rem;
    z-index: 1000;
    cursor: default;
    color: var(--black);
}

.user-info {
    font-size: 0.8rem;
}

.user-info span {
    font-weight: 600;
    font-size: 1rem;
}

.no-results {
	font-style: italic;
	color: var(--gray-400);
    font-size: 0.8rem;
}

.mobile-nav {
    display: none; /* Hidden by default, shown on small screens */
}

@media (max-width: 768px) {
    .mobile-nav {
        display: block;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.25rem;
        background-color: var(--blue-500);
        color: var(--white);
    }
    
    .mobile-nav-toggle {
        margin-left: 1.25rem;
    }

    .mobile-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 998;
    }

    .mobile-nav-wrapper.open {
        .mobile-nav {
            display: none;
        }

        .mobile-wrapper {
            display: block;
        }
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: -100%; /* Hide off-screen */
        width: 100%;
        height: 100vh;
        transition: left 0.3s ease-in-out;
    }

    .mobile-nav-wrapper.open + .nav-container {
        left: 0; /* Show the nav when open */
    }

    .nav-container.collapsed {
        display: none; /* Hide the nav when collapsed on small screens */
    }
}

@media (max-width: 480px) {
    .mobile-nav-toggle {
        margin-left: 0.5rem;
    }
}