.dialog-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;

	&.open {
		display: block;
	}
}

.dialog-content {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: max-content;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
}

.dialog-close {
	background: none;
	padding: 0;
	color: var(--blue-400);
	height: fit-content;
	width: fit-content;
	display: contents;

	&:hover {
		color: var(--blue-500);
		background: none;
	}
}

.dialog-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem 1rem 0 0;
}

.dialog-body {
	padding: 1rem;
}

.dialog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 1rem 0;
}

.dialog-body-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.dialog-org {
	color: var(--gray-400);
}

.dialog-body-content {
	display: flex;
	justify-content: stretch;
	gap: 1rem;
}

.dialog-details {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}
.dialog-details:first-child {
	border-right: 2px solid var(--gray-200);
}

.dialog-details p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.dialog-close {
	background: none;
	padding: 0;
	color: var(--blue-400);
	height: fit-content;
	width: fit-content;
	display: contents;

	&:hover {
		color: var(--blue-500);
		background: none;
	}
}

.dialog-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem 1rem 0 0;
}

.dialog-body {
	padding: 1rem;
}

.dialog-org {
	color: var(--gray-400);
}

.dialog-body-content {
	display: flex;
	justify-content: stretch;
	gap: 1rem;
}

.dialog-details {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}

.dialog-details:first-child {
	border-right: 2px solid var(--gray-200);
}

.dialog-details h3 {
	margin-bottom: 0.25rem;
}

.dialog-details p {
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 0.5rem;
}

.dialog-airports {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
}