@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    --black: #000;
    --white: #fff;
    --gray-100: #D9D9D9;
    --gray-400: #858585;
    --blue-700: #003173;
    --blue-600: #335C96;
    --blue-500: #4778BD;
    --blue-400: #709BD8;
    --blue-300: #E5F0FF;
    --shadow-400: 0px 16px 32px -4px rgba(12, 12, 13, 0.1),
                  0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, .h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2, .h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3, .h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

h4, .h4 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--gray-400);
}

h5, .h5 {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gray-400);
}

p {
    font-size: 1rem;
    font-weight: 500;
}

button,
.btn {
    appearance: none;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue-400);
}

button:hover,
.btn:hover {
    background-color: var(--blue-500);
}

img {
    max-width: 100%;
    height: auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--blue-500);
}

.app-container {
    display: flex;
}

.content-container {
    width: 100%;
    padding: 2rem;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.input-label {
    font-weight: 500;
    font-size: 0.9rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid var(--black);
    border-radius: 4px;
    color: var(--blue-500);
    font-weight: 500;
    font-size: 1rem;
}

.input-filed::placeholder {
    color: var(--gray-400);
}