.item-list-container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.list-header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--gray-200);
}

.list-header-field {
    flex: 1;
    text-align: center;
}

.list-header-field:first-child {
    text-align: left;
}

.list-item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border-bottom: 2px solid var(--gray-100);
    transition: background-color 0.3s ease;
}

.list-item:last-child {
    border-bottom: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

.list-item:hover:not(.no-results) {
    background-color: var(--blue-300);
}

.list-item-field {
    flex: 1;
    text-align: center;
}

.list-item-field:first-child {
    text-align: left;
}

.no-results {
	font-style: italic;
	color: var(--gray-400);
}

@media (max-width: 600px) {
    .list-item {
        flex-direction: column;
        gap: 0.25rem;
    }

    .list-header {
        flex-direction: column;
        gap: 0.25rem;
    }

    .list-header-field {
        text-align: left;
    }

    .list-header-field:last-child {
        font-weight: 400;
        font-size: 0.9rem;
        color: var(--gray-400);
    }

    .list-item-field {
        text-align: left;
    }

    .list-item-field:last-child {
        font-size: 0.9rem;
        color: var(--gray-400);
    }

}